<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <form action="/create" method="post">
                <input class="block w-full rounded-lg outline-none px-5 py-2 bg-zinc-800" type="text" placeholder="Title" name="title">
                <textarea class="block w-full rounded-lg outline-none px-5 py-2 bg-zinc-800 mt-5" placeholder="write your works here........" name="details"></textarea>
                <input class="mt-5 px-5 py-2 bg-zinc-600 rounded-md" type="submit" value="Create Notes">
            </form>
        </div>
        <div class="tasks p-10 flex gap-5 flex-wrap text-white">
            <% if(files.length>0){ %>
            <% files.forEach(function(val){ %>
            <div class="task min-w-72 h-20 px-3 py-4 bg-zinc-800 rounded-lg">
                <h1 class="text-white px-1"><%= val %></h1>
                <a class="text-blue-500" href="">Read More...</a>
            </div>
            <% }) %>
            <% }else{ %>
            <h3 class="text-zinc-500">You haven't written anything yet.</h3>
            <% } %>
        </div>
    </div>
</body>
</html>